/*Global*/

html, body {
  padding: 0;
  margin: 0;
  color: #515151;
  font-size: 16px;
  font-family: 'Plain-Light', sans-serif;
}

body {
  background: #000;
}

#main {
  position: absolute;
  margin: 0 auto;
}

.col.box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.col {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.col.third {
  flex: 1 33%;
}

/*Fonts*/

@font-face {
  font-family: Plain-Light;
  src: url(../font/Plain-Light.woff);
}

@font-face {
  font-family: Plain-Thin;
  src: url(../font/Plain-Thin.woff);
}

@font-face {
  font-family: Plain-Bold;
  src: url(../font/Plain-Bold.woff);
}

h1 {
  font-size: 2.75rem;
  line-height: 3rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.1rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

span {
  font-size: 0.9rem;
  line-height: 1.2rem;
}


/*Common*/

.sml-upper {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.175rem;
  font-size: 0.65rem;
  color: #515151;
}

.lg-callout {
  font-family: 'Plain-Thin';
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: white;
}

.fade {}


/*Shadow*/

.shadow {
  -webkit-box-shadow: 0px 25px 45px -30px grey;
  -moz-box-shadow: 0px 25px 45px -30px grey;
  box-shadow: 0px 25px 45px -30px grey;
}


/*Header*/

header {
  width: 100%;
  height: 70px;
  position: fixed;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #0F0F0F;
  background: #000;
  z-index: 100;
}

header {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

header nav ul {
  display: inline-flex;
  margin: 0 auto;
}

header nav ul li a {
  padding: 20px;
}

header nav ul li a:hover {
  color: #fff;
}


/*About*/

#about {
  position: relative;
  height: 900px;
  top: 70px;
}

#about .hero {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #141414;
  background-image: url(../img/Projects/Skyhire_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about .content {
  margin: 0 14rem 7rem auto;
  padding: 2rem 3rem;
  border-radius: 4px;
  text-align: left;
  align-items: baseline;
  background: #000;
}

#about .content span.sml-upper {
  display: inline-block;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  #about .content {
    margin: 0 1rem 7rem auto;
  }
}


/*Method*/

#method {
  margin: 70px;
  top: 70px;
  position: relative;
}

#icons {
  width: 100%;
  margin-top: 40px;
}

#icons .col.box {
  margin: 70px;
  flex-flow: row nowrap;
}

#icons .col.third {
  display: flex;
  height: 200px;
  margin: 30px;
}


#icons .icon-box {
  background: #1E1E1E;
  height: 100%;
  width: 200px;
  border-radius: 4px;
}

@media only screen and (max-width: 1200px) {
  #method {
    margin: 70px auto;
  }
  #icons .col.box {
    flex-flow: row wrap;
  }
  #icons .col.third {
    flex: 0 100%;
    margin: 20px;
  }

  #icons .icon-box {
    margin: 0 auto;
  }
}


/**/
