
/*Global*/
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

body {
  background: #0A0A0A;
}

#main {
  position: absolute;
  margin: 0 auto;
}

h1 {
font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;

}
h3 {
  font-size: 1.75rem;

}
h4 {
  font-size: 1.5rem;

}
h5 {
  font-size: 1.25rem;

}
h6 {
  font-size: 1rem;

}

p {
  font-size: 1rem;

}

/*Header*/
header {
  width: 100%;
  height: 70px;
  position: fixed;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #1E1E1E;
  background: #0A0A0A;
}

header {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

header nav {

}

header nav ul {
  display: inline-flex;
  margin: 0 auto;
}


header nav ul li a {
  list-style: none;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 0.7rem;
  color: #fff;
}


/*Global*/


/*Global*/


/*Global*/


/*Global*/


/**/

/*
#050A14
#141414
#1E1E1E
#0073FF
#00E3CA
#FFFFFF

border: 1px solid red;

*/
